# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea
.vscode
.DS_Store
cover.out
*.dSYM
*.log
*.o
*.o2
*.o3

/build
cmake-build-debug
.ipynb_checkpoints
/core
target
.project
.settings
.classpath
*.iml

